/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #aaaaaa;
    background-image: url("https://images.homedepot-static.com/productImages/f32e787d-1ca5-405f-b3e1-da60d4acc12f/svn/a-street-wallpaper-2697-22625sam-64_1000.jpg");

}


#courses{
  /*margin-right:50%;
  */
  float:left;
  display:inline;
  width:47%;

  margin-bottom:10%;
  padding:1%;
  background-color: #bdb6bb;
  border: 10px solid;
  border-image: url("http://longwallpapers.com/Desktop-Wallpaper/neon-wallpapers-photo-For-Desktop-Wallpaper.jpg") 10 round;
}

#faculty{
  float:right;
  display:inline;
  width:47%;

  background-color: #bdb6bb;
  border: 10px solid;
  border-image: url("http://longwallpapers.com/Desktop-Wallpaper/neon-wallpapers-photo-For-Desktop-Wallpaper.jpg") 10 round;
}

#faculty-list{
  text-align: center;
}

#faculty ul{
  list-style-type:none;
}

#faculty h2{
  text-align: center;
  margin-left:5%;
}

#main-title{
  text-align: center;
  margin-bottom: 5%;

  padding:1%;
}


#pslo{
  text-align:center;
  list-style-position: inside;
  margin-bottom: 5%;
  background-color: #bdb6bb;
  border: 10px solid;
  border-image: url("http://longwallpapers.com/Desktop-Wallpaper/neon-wallpapers-photo-For-Desktop-Wallpaper.jpg") 10 round;
}


#validation{
  background-color: #bdb6bb;
  padding: 2%;
  margin-top: 45%;
  margin-right: 49.5%;
  border: 10px solid;
  border-image: url("http://longwallpapers.com/Desktop-Wallpaper/neon-wallpapers-photo-For-Desktop-Wallpaper.jpg") 10 round;
}





#style a:link{
  color: white;
}
#style li {
  float: left;
}

#style li a{
  padding:5px;
  text-align: center;
  display: block;
}

#style li a:hover{
  background-color:gray;
}


#style {
  position: relative;
  background-color: #c6001b;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 55px;
  top: 5px;
  border:5px solid;
  border-color: black;

  margin-right: 49.5%;
  margin-top: 4%;

}


#style ul{
  list-style-type:none;
}
