/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #aaaaaa;
    background-image: url("https://images.homedepot-static.com/productImages/f32e787d-1ca5-405f-b3e1-da60d4acc12f/svn/a-street-wallpaper-2697-22625sam-64_1000.jpg");

}


#courses{
  /*margin-right:50%;
  */
  float:left;
  display:inline;
  width:49%;
}

#faculty{
  float:right;
  display:inline;
  width:49%;


}

#faculty-list{
  text-align: center;
}

#faculty ul{
  list-style-type:none;
}

#faculty h2{
  text-align: center;
  margin-left:5%;
}

#main-title{
  text-align: center;
  margin-bottom: 5%;

  padding:1%;
}


#pslo{
  text-align:center;
  list-style-position: inside;
  margin-bottom: 5%;
  border: 100px solid;
  border-image: url("http://longwallpapers.com/Desktop-Wallpaper/neon-wallpapers-photo-For-Desktop-Wallpaper.jpg");
}


#courses{
  margin-bottom:10%;
}
