/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #242424;
}

#main-title{
  background-color: #FFDE7A;
  color: #0b0c09;
  text-align: center;
  padding: 2%;
  border: 5px solid;
  margin-left: 25%;
  max-width: 50%;
}

.section{
  color:#f9f7f6;
}

.card{

  color:#f9f7f6;
}

a:link {
  color: black;
}



#style{
  color: #ffe2fb;
}

.card-text{
  color: #0b0c09;
}







#faculty-list{
  text-align: center;
}

#faculty>ul>li{
  display:inline-block;
  text-align: center;
  margin-left: 2%;
}

h2{
  text-align: center;
}



#courses{
  background-color: #FFDE7A;
  color:#0b0c09;
  border:5px solid;

}


#validation{
  background-color: #FFDE7A;
  color:#0b0c09;
  border:5px solid;
  padding:2%;
}


#style a:link{
  color: white;
}
#style li {
  float: left;
}

#style li a{
  padding:5px;
  text-align: center;
  display: block;
}

#style li a:hover{
  background-color:gray;
}


#style {
  position: fixed;
  background-color: #c6001b;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 55px;
  top: 5px;
  border:5px solid;
  border-color: black;
}


#style ul{
  list-style-type:none;
}


